.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.span {
  grid-column: 1 / 3;
}

.box {
  border: 1px solid black;
  padding: 15px;
  background-color: #d6eaff;
}
